<mat-toolbar class="mapchooser-app-toolbar" color="primary">
  <h1>Map Chooser</h1>
  <div class="mapchooser-fill-remaining-space"></div>
  <button mat-button>FAST RESTART</button>
  <button mat-button>MAP RESTART</button>
</mat-toolbar>

<div class="mapchooser-maps-container">
  <mat-card *ngFor="let gameMap of gameMaps" class="mapchooser-map-card">
    <mat-card-header>
      <mat-card-title>{{gameMap.name}}</mat-card-title>
      <mat-card-subtitle>{{gameMap.tag}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img mat-card-image src="{{gameMap.image}}" alt="{{gameMap.name}}" class="mapchooser-map-image">
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="changeMap('war', gameMap.tag)">WAR</button>
      <button mat-button (click)="changeMap('dm', gameMap.tag)">DM</button>
      <button mat-button (click)="changeMap('sd', gameMap.tag)">SD</button>
    </mat-card-actions>
  </mat-card>
</div>

<router-outlet></router-outlet>
